<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="ChatServer_log" fileName="${basePath}/ChatServer_log.log"
                     filePattern="${basePath}/ChatServer_log-%i.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="3 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C:%L (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ru.online" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="ChatServer_log"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="ChatServer_log"/>
        </Root>
    </Loggers>

</Configuration>
